<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="cntrl_opt">
      <p class="title">Welcome to Dashboard</p>
      <p class="sub_title">
        <%= test %>
      </p>
      <div class="links_div">
        <li><a href="/index.ejs" class="links active">General</a></li>
        <li><a href="/order.ejs" class="links">Order</a></li>
        <li><a href="/Message.ejs" class="links">Message</a></li>
        <li><a href="/Setting.ejs" class="links">Setting</a></li>
      </div>
    </div>
    <div class="cntrl_details">
      <p class="title_details">Semo</p>
      <p class="des_details">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nam amet
        repudiandae labore corrupti, dolor fugit officia nostrum quae accusamus
        ea? Nostrum doloremque voluptatem vel atque in impedit facere distinctio
        ipsam! Mollitia, voluptas? Vitae earum, tempore eveniet expedita
        doloremque blanditiis reprehenderit est iste neque aliquam aspernatur
        molestias soluta iusto obcaecati qui nobis dolor optio dolorum laborum
        nulla asperiores, exercitationem fugiat. Debitis officia architecto enim
        tempore nihil nesciunt sequi, animi corrupti, quasi neque dignissimos
        cupiditate voluptatum facilis voluptatibus a repellendus perspiciatis
        commodi asperiores vitae. Debitis nobis est minima, perferendis eos
        quisquam, sit dolor similique necessitatibus quis veniam suscipit quam
        architecto maiores. Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Commodi sunt quis quisquam blanditiis, facere accusamus officiis
        nemo. Cumque unde fugit quos quod nostrum reprehenderit aperiam suscipit
        animi accusantium a inventore accusamus et vitae voluptatibus ratione
        eos dignissimos labore sapiente deleniti, pariatur saepe nemo facilis
        deserunt. Molestias voluptatem atque, dicta vero suscipit laborum quos,
        iure pariatur modi ullam dignissimos eius! Voluptates, nam minima
        voluptas est repellendus illo ad tempore quasi, rerum exercitationem
        doloremque doloribus reprehenderit aut molestiae repellat esse, iusto
        nulla fugiat odio excepturi optio quis quibusdam perferendis at. Earum
        ea sed quos recusandae inventore nulla saepe distinctio? Cupiditate,
        ducimus beatae animi placeat iusto consequuntur quas in architecto
        repellat tenetur sit veniam mollitia cum autem voluptatem quasi ut.
        Voluptatibus doloribus officia commodi id quasi, nemo labore! Rem quidem
        tempora repellendus laboriosam consequatur totam est soluta esse,
        maiores, facere illum sequi a veniam? Tempore eos provident sapiente
        fuga facere repellat quam totam assumenda quia autem magnam voluptas,
        aliquid, laboriosam sint quis illum dolor commodi architecto non atque
        excepturi rem! Dicta animi sit porro maiores corporis vel cum odit esse
        pariatur fugiat, iusto soluta. Obcaecati iure harum saepe eaque commodi
        est laudantium inventore. Labore expedita reiciendis impedit cum
        repellat totam repudiandae? Eaque, dolore commodi, fugit expedita
        consequatur nemo sapiente est repellendus exercitationem omnis laborum.
        Impedit soluta in iure saepe assumenda quisquam, nesciunt quos ullam!
        Cumque, possimus quod dolores, exercitationem iste mollitia perspiciatis
        maxime tempore nam laudantium nemo quaerat vero est nostrum tenetur
        nesciunt excepturi et facilis nulla optio magnam? Distinctio voluptatum
        cum impedit sit repellendus non recusandae facilis eaque, magnam dolorem
        reprehenderit blanditiis unde perspiciatis ad incidunt, quia laudantium
        nostrum saepe voluptatem vero nesciunt neque vitae quas fuga. Adipisci
        minima aspernatur eum modi officiis. Itaque nihil quae, perspiciatis
        laboriosam hic sit suscipit necessitatibus nemo ad repudiandae
        voluptatum minima tempore aliquam nobis harum temporibus consequatur
        iusto. Sequi, sapiente unde, voluptatem aliquid et minima voluptatum
        laboriosam modi quas maxime iusto. Error officiis expedita ea aliquid
        sed facilis ex optio fuga, aperiam assumenda libero voluptatibus
        quisquam, quam, doloribus aliquam autem veniam dolorem incidunt? Earum
        quo pariatur et soluta iste voluptatum reprehenderit id corrupti.
        Voluptate, accusantium soluta? Consequatur incidunt at delectus quo ut
        error excepturi sunt quas cupiditate architecto, vel obcaecati fugit
        maiores pariatur quidem, tempore eum adipisci labore exercitationem
        cumque. Laborum maxime explicabo voluptate quos, rerum aliquid
        praesentium suscipit nisi magni, cupiditate architecto delectus, odit
        ullam ut impedit maiores vel commodi. Id dolores cupiditate fuga aliquam
        dicta ipsa corrupti ab quasi ipsam illo inventore corporis, quaerat
        molestias voluptas iusto veniam nobis cum expedita? Praesentium adipisci
        debitis, libero laudantium aliquid quos repellendus alias enim repellat
        temporibus officiis recusandae ea aspernatur iste. Ea cumque odit earum
        necessitatibus officia sint eius magni ab dolor adipisci. Dolor qui
        doloribus vel, accusamus ad ullam similique modi ducimus est iusto amet
        quaerat, reiciendis voluptate libero aut sequi, asperiores architecto
        ipsam sint illo dicta incidunt molestiae! Exercitationem neque dolorem
        voluptate qui esse, quos, voluptatem aut rerum quaerat eligendi
        quibusdam aspernatur voluptates iusto asperiores nostrum aliquid
        possimus, doloremque facere maiores harum quae laudantium est saepe!
        Aliquid, harum ipsam cumque iure et modi, quia perferendis architecto
        natus reprehenderit nostrum accusamus placeat illum quaerat sint aperiam
        esse deserunt fuga eveniet quas quis? Aut consequatur illo iure pariatur
        placeat optio vero nostrum. Eaque eos magnam impedit exercitationem hic?
        Odio suscipit culpa at recusandae dicta, repellat possimus maxime.
        Delectus, ratione perferendis dolorem rerum facere libero dolorum esse
        molestias porro! Ipsa sunt, similique officiis sapiente ab dolorem
        molestiae natus? Voluptatem, qui. Hic eos, quod harum incidunt
        doloremque odio sapiente ullam saepe quo error, assumenda inventore
        quibusdam. Quae aut unde, ut nesciunt quisquam deleniti doloribus quia
        sequi tenetur commodi incidunt fugit debitis dolore earum aliquid id
        provident, aperiam vel asperiores voluptatem magni fugiat? Excepturi
        quis delectus et voluptatibus illo repudiandae dolores quos soluta
        itaque expedita error nemo, debitis in architecto qui molestias ipsa ea
        mollitia ut nostrum. Ratione libero suscipit, debitis voluptates maxime
        voluptas deserunt ullam esse fugiat, nobis exercitationem eaque
        repellendus quidem accusantium sunt dolorum doloribus odio. Voluptatem
        eius provident quasi sint quis, quae distinctio illo deserunt, facilis
        sequi at? Temporibus dolores iure velit magnam laboriosam, ipsum in
        aperiam eius cum quos deserunt, asperiores nisi. Possimus culpa cumque
        ratione quis nulla ut porro tenetur facere rerum distinctio. Non, cum
        repudiandae possimus animi necessitatibus sed suscipit consectetur
        debitis ipsam dicta harum porro. Expedita minus voluptatem repellendus,
        vitae at iste nemo sit obcaecati magnam? Necessitatibus voluptatibus ex,
        perspiciatis, beatae hic nostrum quia, et unde molestias quaerat
        temporibus. Ducimus maiores, deleniti eum excepturi recusandae
        blanditiis architecto nisi cumque consectetur voluptas? Alias odit,
        nesciunt quibusdam in, repellat esse deleniti incidunt eius tempora ipsa
        similique laboriosam tempore voluptas aspernatur nemo voluptatem nisi
        pariatur qui at cum libero illum architecto sit. Nobis, labore repellat
        aut modi culpa quasi similique temporibus quas aliquam architecto
        asperiores? Maxime error ducimus ut nesciunt tempora dolor rem nihil,
        vero quo sunt praesentium blanditiis dignissimos. Eos distinctio
        consectetur rerum iure quos placeat aliquid beatae nihil est ad
        dignissimos libero similique, veritatis ratione? Asperiores, excepturi
        voluptatum. Totam, quod tenetur tempore saepe sed repudiandae. Natus
        illum expedita doloremque hic dolore facere, saepe praesentium tempora
        repellendus temporibus provident magnam quidem delectus fuga blanditiis
        aspernatur eligendi perferendis nulla, debitis, quae nesciunt culpa ab
        nihil? Perspiciatis, ipsa? Obcaecati explicabo iure at ullam facilis
        voluptate modi vero inventore quo maxime nisi nemo, nulla repellendus
        ipsum reiciendis, ipsam officiis laudantium vitae sit ut ea harum soluta
        minus. Exercitationem ut harum doloremque magni similique, iusto alias
        saepe recusandae distinctio tenetur? Voluptate, magni cumque harum
        assumenda iusto voluptatem animi error laboriosam cum veritatis nemo
        autem similique eos modi consectetur facilis quae repellat ipsum ducimus
        sunt! Fugit vel, sequi necessitatibus magnam, quos quaerat amet
        doloremque dicta aliquam similique inventore omnis quae labore repellat
        ex! Consequatur, dolores quos. Eum maiores eveniet, recusandae mollitia
        cumque temporibus autem nemo corrupti delectus modi expedita esse
        voluptatum architecto quas iure odio asperiores minima. Odio, modi
        incidunt? Maxime vitae excepturi optio illum consectetur odio velit.
        Distinctio dolores ipsum quas beatae ex facilis nam fuga at officiis
        debitis, odit sequi? Officia vitae non soluta itaque officiis ducimus
        quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
        recusandae nemo aspernatur, cupiditate, corporis magnam eveniet suscipit
        commodi similique fugit possimus earum? At praesentium tenetur eaque
        quidem facilis possimus. Officia sit repellat autem non magni? Sit
        deleniti, delectus cumque excepturi modi maiores praesentium dolorem
        illo mollitia esse non. Iure maiores, natus asperiores placeat voluptate
        a consequuntur cum quaerat incidunt ipsum mollitia sapiente cumque,
        aperiam, non quo accusamus quis ut dicta labore magnam consectetur
        distinctio. Voluptas repudiandae sit ullam a atque! Error laudantium
        fugiat iure ratione ut odit nisi, illum exercitationem?
      </p>
    </div>
  </body>

  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: Montserrat;
      list-style: none;
    }
    @media screen and (min-width: 1040px) {
      body {
        display: flex;
        background-color: #282c34;
      }

      .cntrl_opt {
        width: 25%;
        height: 100vh;
        position: sticky;
        top: 0;
        background-color: #fff;
        text-align: center;
        letter-spacing: 1px;
      }

      .title {
        color: #444;
        font-size: 20px;
        padding: 50px 20px 50px 20px;
        font-weight: 600;
      }

      .sub_title {
        font-size: 25px;
        padding: 20px;
        color: #444;
        font-weight: 600;
        font-family: "Dancing Script";
        letter-spacing: 2px;
      }

      .links {
        display: block;
        text-decoration: none;
        padding: 20px 0px;
        color: #fff;
        letter-spacing: 2px;
      }

      .links:hover {
        color: #d2d2d2;
        background-color: #444;
      }

      .links_div {
        margin-top: 50px;
        background-color: #282c34;
        padding: 50px 0px;
      }

      .cntrl_details {
        width: 75%;
        margin: 70px auto;
        color: #fff;
        text-align: center;
      }
      .title_details {
        font-size: 25px;
        letter-spacing: 2px;
      }
      .des_details {
        padding: 50px;
        line-height: 30px;
        font-size: 17px;
        color: #d2d2d2;
      }
      .active {
        background-color: #444;
      }
    }
    @media screen and (max-width: 1039px) {
      .links_div li {
        display: inline-block;
        margin: 10px 20px;
      }
      .links_div li a {
        color: #fff;
        text-decoration: none;
      }
      .links_div li a:hover {
        color: #d2d2d2;
      }
      body {
        display: block;
        background-color: #282c34;
        text-align: center;
        padding-bottom: 50px;
      }
      .cntrl_opt {
        padding: 10px;
        color: #fff;
        top: 0;
        position: sticky;
        background-color: #444;
      }
      .title {
        margin: 10px 0px;
      }
      .sub_title {
        margin: 10px 0px;
      }
      .cntrl_details {
        color: #d2d2d2;
      }
      .title_details {
        font-size: 25px;
        letter-spacing: 2px;
        margin: 30px;
      }
      .des_details {
        padding: 20px;
      }
    }
  </style>
</html>
